In [1]:
import pandas as pd
data_path = 'nii_inf/export_EPI_MAIN_weekly_201540_201939_FINAL.xlsx'
df = pd.read_excel(data_path)
epidem_regions = set(list(df['REGION_NAME']))
len(epidem_regions)

8

In [2]:
df_cities = pd.read_csv('new_data/cities_list.csv')
len(set(df_cities['settlement']) & set(df['DISTRICT_NAME']))

61

In [3]:
city2region = {}
region2city = {}
region2city_lower = {}
for city in set(df['DISTRICT_NAME']):
    city2region[city] = list(df_cities[df_cities['settlement'] == city]['region'])[0]
    region2city_lower[list(df_cities[df_cities['settlement'] == city]['region'])[0].lower()] = city
    region2city[list(df_cities[df_cities['settlement'] == city]['region'])[0]] = city

# Терапевты

In [4]:
terapevts = pd.read_csv("new_data/raw_data/терапевты.csv")
terapevts.head()

,СУБЪЕКТЫ ФЕДЕРАЦИИ,численность 2017,численность 2018,на 100к человек 2017,на 100к человек 2018
0,Ямало-Hенецкий АО,350,347,"8,85","8,77"
1,Челябинская область,1169,1126,"4,25","4,09"
2,Сибирский федеральный округ,8387,7595,"5,61","5,66"
3,Республика Алтай,118,114,"7,81","7,55"
4,Республика Тыва,196,193,"9,71","9,56"

In [5]:
terapevts.columns

Index(['СУБЪЕКТЫ  ФЕДЕРАЦИИ', 'численность 2017', 'численность 2018',
       'на 100к человек 2017', 'на 100к человек 2018'],
      dtype='object')

In [6]:
city2terapevt = {}
city2terapevt_list = []
for row in terapevts.iterrows():
    region, num_terapevts, num_100k = row[1]["СУБЪЕКТЫ  ФЕДЕРАЦИИ"], row[1]['численность 2018'], row[1]['на 100к человек 2018']
    if region.lower() in region2city_lower:
        num_100k = float('.'.join(num_100k.split(',')))
        city2terapevt[region2city_lower[region.lower()]] = [num_terapevts, num_100k]
        city2terapevt_list.append([region2city_lower[region.lower()], num_terapevts, num_100k])

In [7]:
terapevts = pd.DataFrame(city2terapevt_list, columns=['city', 'num_terapevts', 'num_terapevts_100k_peaple'])

In [8]:
terapevts.head()

        city  num_terapevts  num_terapevts_100k_peaple
0  Челябинск           1126                       4.09
1       Орел           1094                       5.89
2   Норильск           1343                       5.96
3  Хабаровск            885                       4.84
4   Кемерово            922                       4.36

In [9]:
terapevts.shape

(47, 3)

In [10]:
terapevts.to_csv('new_data/terapevts.csv')

# Педиаторы

In [11]:
terapevts = pd.read_csv("new_data/raw_data/Педиатры.csv")
terapevts.head()

,СУБЪЕКТЫ ФЕДЕРАЦИИ,численность 2017,численность 2018,на 100к человек 2017,на 100к человек 2018
0,Российская Федерация,48264,48904,"16,1","16,31"
1,Центральный федеральный округ,12447,12711,"17,75","18,13"
2,Белгородская область,403,360,"14,01","12,51"
3,Брянская область,367,350,"16,08","15,34"
4,Владимирская область,382,374,"15,13","14,82"

In [12]:
city2terapevt = {}
city2terapevt_list = []
for row in terapevts.iterrows():
    region, num_terapevts, num_100k = row[1]["СУБЪЕКТЫ  ФЕДЕРАЦИИ"], row[1]['численность 2018'], row[1]['на 100к человек 2018']
    if region.lower() in region2city_lower:
        num_100k = float('.'.join(num_100k.split(',')))
        city2terapevt[region2city_lower[region.lower()]] = [num_terapevts, num_100k]
        city2terapevt_list.append([region2city_lower[region.lower()], num_terapevts, num_100k])

In [13]:
terapevts = pd.DataFrame(city2terapevt_list, columns=['city', 'num_pediators', 'num_pediators_100k_peaple'])

In [14]:
terapevts.head()

       city  num_pediators  num_pediators_100k_peaple
0  Белгород            350                      15.34
1  Владимир            374                      14.82
2    Липецк            264                      12.19
3  Смоленск            336                      20.48
4     Тверь            407                      17.14

In [15]:
terapevts.shape

(47, 3)

In [16]:
terapevts.to_csv('new_data/pediators.csv')