In [1]:
import pandas as pd

In [2]:
data_path = 'nii_inf/export_EPI_MAIN_weekly_201540_201939_FINAL.xlsx'

In [3]:
df = pd.read_excel(data_path)

In [4]:
df.head()

,REGION_NAME,DISTRICT_NAME,LPU_NAME,YEAR,WEEK,ARI_0_2,ARI_3_6,ARI_7_14,ARI_15,ARI_TOTAL,ILI_0_2,ILI_3_6,ILI_7_14,ILI_15,ILI_TOTAL,POP_0_2,POP_3_6,POP_7_14,POP_15,POP_TOTAL
0,Дальневосточный ФО,Биробиджан,ЦГиЭ,2015,40,212,163,87,85,547,0,0,0,0,0,2929,3810,6470,61568,74777
1,Дальневосточный ФО,Владивосток,ЦГиЭ,2015,40,631,811,359,570,2371,0,0,0,0,0,19634,26033,48036,495273,588976
2,Дальневосточный ФО,Магадан,ЦГиЭ,2015,40,149,200,155,128,632,0,0,0,0,0,3696,4601,8429,84319,101045
3,Дальневосточный ФО,Петропавловск,ЦГиЭ,2015,40,297,334,226,193,1050,0,0,0,0,0,6754,7979,13889,152393,181015
4,Дальневосточный ФО,Улан-Удэ,ЦГиЭ,2015,40,144,159,75,228,606,0,0,0,0,0,23314,28731,45498,365197,462740

In [5]:
epidem_regions = set(list(df['REGION_NAME']))
len(epidem_regions)

8

# Города -> области

In [6]:
df_cities = pd.read_csv('new_data/cities_list.csv')

In [7]:
df_cities.head()

,id,region,municipality,settlement,type,population,children,latitude_dms,longitude_dms,latitude_dd,longitude_dd,oktmo,dadata,rosstat
0,0,Орловская область,Болховский,Колонтаева,д,0,0,53.22.07,035.54.36,53.368611,35.910000,5.460442e+10,0,1
1,1,Республика Крым,Алушта,Пушкино,с,273,0,44.35.45,034.20.27,44.595833,34.340833,3.570300e+10,0,1
2,2,Липецкая область,Лев-Толстовский район,Барятино,с,7,1,53.15.46,039.30.14,53.262778,39.503889,4.263641e+10,0,1
3,3,Тверская область,Селижаровский район,Хилово,д,2,0,56.54.20,033.25.09,56.905556,33.419167,2.865043e+10,0,1
4,4,Томская область,Парабельский район,Басмасово,д,6,0,58.38.12,082.02.40,58.636667,82.044444,6.964444e+10,0,1

In [8]:
len(set(df_cities['settlement']) & set(df['DISTRICT_NAME']))

61

Все города в списке есть

In [9]:
city2region = {}
region2city = {}
for city in set(df['DISTRICT_NAME']):
    city2region[city] = list(df_cities[df_cities['settlement'] == city]['region'])[0]
    region2city[list(df_cities[df_cities['settlement'] == city]['region'])[0]] = city

In [10]:
city2region

{'Архангельск': 'Архангельская область',
 'Брянск': 'Республика Дагестан',
 'Екатеринбург': 'Свердловская область',
 'Магадан': 'Магаданская область',
 'Улан-Удэ': 'Республика Бурятия',
 'Чита': 'Республика Татарстан',
 'Биробиджан': 'Еврейская автономная область',
 'Воронеж': 'Алтайский край',
 'Ростов-на-Дону': 'Ростовская область',
 'Краснодар': 'Краснодарский край',
 'Красноярск': 'Оренбургская область',
 'Якутск': 'Республика Саха (Якутия)',
 'Сыктывкар': 'Республика Коми',
 'Южно-Сахалинск': 'Сахалинская область',
 'Саратов': 'Саратовская область',
 'Владимир': 'Владимирская область',
 'Орел': 'Алтайский край',
 'Владивосток': 'Приморский край',
 'Вологда': 'Вологодская область',
 'Мурманск': 'Мурманская область',
 'Иркутск': 'Иркутская область',
 'Челябинск': 'Челябинская область',
 'Норильск': 'Красноярский край',
 'Курск': 'Красноярский край',
 'Пенза': 'Пензенская область',
 'Новосибирск': 'Новосибирская область',
 'Ярославль': 'Ярославская область',
 'Симферополь': 'Республика Крым',
 'Пермь': 'Пермский край',
 'Киров': 'Республика Саха (Якутия)',
 'Санкт-Петербург': 'Санкт-Петербург',
 'Псков': 'Псковская область',
 'Казань': 'Кировская область',
 'Хабаровск': 'Иркутская область',
 'Самара': 'Ленинградская область',
 'Барнаул': 'Алтайский край',
 'Волгоград': 'Волгоградская область',
 'Омск': 'Омская область',
 'Липецк': 'Липецкая область',
 'Владикавказ': 'Республика Северная Осетия - Алания',
 'Уфа': 'Тюменская область',
 'Кемерово': 'Кемеровская область',
 'Томск': 'Томская область',
 'Тула': 'Тульская область',
 'Петропавловск': 'Пермский край',
 'Тверь': 'Тверская область',
 'Чебоксары': 'Чувашская республика',
 'Астрахань': 'Кировская область',
 'Москва': 'Москва',
 'Нижний Новгород': 'Нижегородская область',
 'Великий Новгород': 'Новгородская область',
 'Севастополь': 'Севастополь',
 'Рязань': 'Тверская область',
 'Оренбург': 'Оренбургская область',
 'Петрозаводск': 'Республика Карелия',
 'Белгород': 'Брянская область',
 'Смоленск': 'Смоленская область',
 'Ижевск': 'Удмуртская республика',
 'Ульяновск': 'Ульяновская область',
 'Ставрополь': 'Ставропольский край',
 'Калининград': 'Калининградская область'}

In [11]:
region2city

{'Архангельская область': 'Архангельск',
 'Республика Дагестан': 'Брянск',
 'Свердловская область': 'Екатеринбург',
 'Магаданская область': 'Магадан',
 'Республика Бурятия': 'Улан-Удэ',
 'Республика Татарстан': 'Чита',
 'Еврейская автономная область': 'Биробиджан',
 'Алтайский край': 'Барнаул',
 'Ростовская область': 'Ростов-на-Дону',
 'Краснодарский край': 'Краснодар',
 'Оренбургская область': 'Оренбург',
 'Республика Саха (Якутия)': 'Киров',
 'Республика Коми': 'Сыктывкар',
 'Сахалинская область': 'Южно-Сахалинск',
 'Саратовская область': 'Саратов',
 'Владимирская область': 'Владимир',
 'Приморский край': 'Владивосток',
 'Вологодская область': 'Вологда',
 'Мурманская область': 'Мурманск',
 'Иркутская область': 'Хабаровск',
 'Челябинская область': 'Челябинск',
 'Красноярский край': 'Курск',
 'Пензенская область': 'Пенза',
 'Новосибирская область': 'Новосибирск',
 'Ярославская область': 'Ярославль',
 'Республика Крым': 'Симферополь',
 'Пермский край': 'Петропавловск',
 'Санкт-Петербург': 'Санкт-Петербург',
 'Псковская область': 'Псков',
 'Кировская область': 'Астрахань',
 'Ленинградская область': 'Самара',
 'Волгоградская область': 'Волгоград',
 'Омская область': 'Омск',
 'Липецкая область': 'Липецк',
 'Республика Северная Осетия - Алания': 'Владикавказ',
 'Тюменская область': 'Уфа',
 'Кемеровская область': 'Кемерово',
 'Томская область': 'Томск',
 'Тульская область': 'Тула',
 'Тверская область': 'Рязань',
 'Чувашская республика': 'Чебоксары',
 'Москва': 'Москва',
 'Нижегородская область': 'Нижний Новгород',
 'Новгородская область': 'Великий Новгород',
 'Севастополь': 'Севастополь',
 'Республика Карелия': 'Петрозаводск',
 'Брянская область': 'Белгород',
 'Смоленская область': 'Смоленск',
 'Удмуртская республика': 'Ижевск',
 'Ульяновская область': 'Ульяновск',
 'Ставропольский край': 'Ставрополь',
 'Калининградская область': 'Калининград'}

# Курение

In [20]:
habbits = pd.read_csv("new_data/raw_data/bad_habbits_raw.csv")
habbits.head()

   popsition                           region rating  2018 position
0          1             Чеченская Республика    100              1
1          2              Республика Дагестан   99,2              2
2          3             Республика Ингушетия   87,1              4
3          4  Кабардино-Балкарская Республика   86,6              3
4          5               Тамбовская область   83,2              9

In [21]:
len(habbits)

85

In [22]:
row[1]['region']

'Республика Мордовия'

In [23]:
city2habbit = {}
city2habbit_list = []
for row in habbits.iterrows():
    region, rate = row[1]["region"], row[1]['rating']
    if region in region2city:
        city2habbit[region2city[region]] = rate
        city2habbit_list.append([region2city[region], rate])

In [24]:
city2habbit

{'Брянск': '99,2',
 'Волгоград': '81,4',
 'Саратов': '79,8',
 'Смоленск': '79',
 'Ставрополь': '79',
 'Краснодар': '77,9',
 'Белгород': '76,7',
 'Чита': '76,1',
 'Нижний Новгород': '75,3',
 'Ульяновск': '73,6',
 'Севастополь': '70,7',
 'Ростов-на-Дону': '70',
 'Пенза': '69,3',
 'Оренбург': '67',
 'Великий Новгород': '66,9',
 'Липецк': '66,3',
 'Симферополь': '65,2',
 'Владимир': '64,2',
 'Тула': '63,9',
 'Барнаул': '62,7',
 'Псков': '62,4',
 'Рязань': '60,7',
 'Петрозаводск': '58,3',
 'Омск': '57,4',
 'Хабаровск': '56,4',
 'Вологда': '55,6',
 'Архангельск': '55,5',
 'Новосибирск': '54,8',
 'Москва': '54,4',
 'Екатеринбург': '53,1',
 'Томск': '53',
 'Владивосток': '50,5',
 'Астрахань': '50,2',
 'Кемерово': '50,1',
 'Калининград': '49,2',
 'Самара': '47,9',
 'Ярославль': '47,6',
 'Курск': '46,6',
 'Санкт-Петербург': '46,2',
 'Петропавловск': '45,9',
 'Челябинск': '45,8',
 'Киров': '43,1',
 'Уфа': '40,1',
 'Сыктывкар': '36,5',
 'Мурманск': '36,1',
 'Биробиджан': '28,9',
 'Улан-Удэ': '25,4',
 'Южно-Сахалинск': '18,1',
 'Магадан': '15'}

In [25]:
habbits = pd.DataFrame(city2habbit_list, columns=['city', 'habbit_rate'])

In [26]:
len(habbits)

49

In [84]:
habbits.to_csv('new_data/habbits.csv')

# Богатство

In [27]:
money = pd.read_csv("new_data/raw_data/richness_raw.csv")
money.head()

,place,region,perc_more_100k,percent_less_15k,most_common
0,1,Чукотский автономный округ,"40,5","0,6",59–147
1,2,Ямало-Ненецкий автономный округ,35,"0,6",53–142
2,3,Москва,"31,6","1,2",46–125
3,4,Магаданская область,"27,3","0,3",47–113
4,5,Ненецкий автономный округ,"25,8",2,45–105

In [19]:
len(money)

85

In [15]:
city2money = {}
city2money_list = []
for row in money.iterrows():
    region, values = row[1]["region"], list(row[1])[2:]
    if region in region2city:
        city2money[region2city[region]] = values
        city2money_list.append([region2city[region]] + values)

In [16]:
modey_df = pd.DataFrame(city2money_list, columns=['city', 'perc_more_100k', 
                                                   'percent_less_15k', 'most_common'])

In [17]:
len(modey_df)

49

In [105]:
modey_df.head()

              city perc_more_100k percent_less_15k most_common
0           Москва           31,6              1,2      46–125
1          Магадан           27,3              0,3      47–113
2   Южно-Сахалинск           21,9              0,4       42–94
3            Киров           18,9              1,3       38–89
4  Санкт-Петербург           13,5              2,2       35–76

In [106]:
modey_df.to_csv('new_data/money.csv')